
  .rate-top
  	padding:18px 0
  	display:flex
  	display:-webkit-flex 
  	.top-left
  		flex:0 0 138px
  		-webkit-flex:0 0 138px
  		border-right:1px solid rgba(0,0,0,0.4) 
  		.score
  			line-height:28px
  			font-size:24px
  			color:rgb(255,153,0)
  			text-align:center
  		.score-desc
  			font-size:12px
  			color:rgb(7,17,27)
  			line-height:12px
  			margin:6px 0
  			text-align:center
  		.compare
  			font-size:10px
  			color:rgb(7,17,27)
  			line-height:12px
  			text-align:center
  	.top-right
  		flex:0 1 auto
  		padding:0 12px 
  		.info
  			height:18px
  			margin-bottom:8px
  			line-height:18px
  			font-size:12px
  			text-align:center
  			&>span
  				display:inline-block
  			&>div
  				height:18px
  				padding:0 6px
  				display:inline-block       
